.button {
    -fx-background-color: white; /* Green */
   -fx-border: none;
    /*-fx-padding: 16px 32px;*/
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
    -fx-transition-duration: 0.4s;
    -fx-text-fill: black;
    -fx-border-color: #4CAF50;
    -fx-border-image-width: 2px;
    -fx-border-radius: 12px;
  }
  
  .button:hover {
    -fx-background-color: #4CAF50;
     -fx-text-fill: white;
  }